<div class="main-layout">
  <div class="inp-con">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ul class="form-box">
        <li class="form-item">
          <h4>收货人姓名</h4>
          <div class="input-box">
            <input type="text" formControlName="Contact" class="inp">
          </div>
        </li>
        <li class="form-item">
          <h4>联系手机</h4>
          <div class="input-box">
            <input type="text" formControlName="Phone" class="inp">
          </div>
        </li>
        <li class="form-item">
          <h4>地区选择</h4>
          <div class="input-box address_select">
            <select formControlName="province" [(ngModel)]="province">
              <option value="">请选择</option>
              <option *ngFor="let item of provinces" [ngValue]="item">{{item[1]}}</option>
            </select>
            <select formControlName="city" [(ngModel)]="city">
              <option value="">请选择</option>
              <option *ngFor="let item of cities" [ngValue]="item">{{item[1]}}</option>
            </select>
            <select formControlName="district" [(ngModel)]="district">
              <option value="">请选择</option>
              <option *ngFor="let item of districts" [ngValue]="item">{{item[1]}}</option>
            </select>
          </div>
        </li>
        <li class="form-item">
          <h4>详细地址</h4>
          <div class="input-box write">
            <input type="text" formControlName="House" class="inp">
          </div>
        </li>
      </ul>
      <div *ngIf="failed" class="error-tips">保存失败</div>
      <div class="form-btn">
        <button type="submit" class="btn" [class.ok]="valid">保存地址</button>
      </div>
    </form>
  <pre *ngIf="showErr">
Contact.errors={{form.get('Contact').errors|json}}
Phone.errors={{form.get('Phone').errors|json}}
House.errors={{form.get('House').errors|json}}
  </pre>
  </div>
</div>
