.ng-valid {
  border-right: 5px solid #42A948;
  /* green */
}
.ng-invalid {
  border-right: 5px solid #a94442;
  /* red */
}
.inp-con ul li .input-box.address_select{height:auto; }
.inp-con .form-btn .btn.ok { color: #FFF !important; background: #ED5564;}
