<header1>手机验证</header1>
<div class="main-layout">
  <div class="inp-con">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ul class="form-box">
        <li class="form-item">
          <h4>手 机 号</h4>
          <div class="input-box">
            <input type="text" class="inp" formControlName="Phone" placeholder="输入手机号">
            <span class="input-del"></span>
            <span class="code-again">
              {{secondsLeft}}
              <a (click)="onSendSms()" [class.phone-invalid]="!form.get('Phone').valid" *ngIf="!colding">获取短信验证</a>
            </span>
          </div>
        </li>
        <li class="form-item">
          <h4>验 证 码</h4>
          <div class="input-box">
            <input type="text" class="inp" formControlName="Captcha" placeholder="输入图形验证码">
            <span class="input-del code"></span>
            <a (click)="onChangeCaptcha()" class="code-img">
              <img border="0" [src]="captcha?.data">
            </a>
          </div>
        </li>
      </ul>
      <ul class="form-box mt5">
        <li class="form-item">
          <h4>动 态 码</h4>
          <div class="input-box write">
            <input type="number" class="inp" formControlName="Code" placeholder="输入短信动态验证码">
            <span class="input-del"></span>
          </div>
        </li>
      </ul>
      <div class="error-tips"></div>
      <div class="form-btn">
        <button type="submit" class="btn" [class.valid]="!submitting&&captcha&&form.valid">下一步</button>
      </div>
    </form>
    <div class="register-mobile-tip"> 小提示：通过手机验证后，可用于快速找回登录密码及支付密码，接收账户资产变更等提醒。</div>
    <pre *ngIf="error">
      {{error|json}}
    </pre>
  </div>
</div>

  <pre *ngIf="showErr">
Phone.errors={{form.get('Phone').errors|json}}
Captcha.errors={{form.get('Captcha').errors|json}}
Code.errors={{form.get('Code').errors|json}}
sending={{sending}}
submitting={{submitting}}
error:
{{error|json}}
  </pre>
<footer-bar></footer-bar>