
.cart-num { display: block; padding: 0.5rem 0; text-align: center; font-size: 0.6rem; color: #000; line-height: 1rem;}
.cart-num em { font-size: 1rem; color: #DB4453; font-weight: 600; display: inline-block; vertical-align: sub; margin: 0 0.2rem; }
.inp-cart ul { background-color: transparent;}
.inp-cart ul li { height: auto; margin: 0; background-color: transparent;}
.inp-cart ul li .input-box { margin: 0;}
.inp-cart ul li .input-box p { font-size: 0.55rem; position: absolute; z-index: 1;padding: 0 0.2rem;
text-align: left; right: 5rem; color: #555;}
.inp-cart ul li .input-box p em { font-size: 0.8rem; font-weight: 600; color: #333;}
.inp-cart ul li .input-box .txt { margin-left: 0.5rem;}
.inp-cart ul li .input-box .inp { width: 45%; background-color: #F5F5F5; padding: 0.25rem 0.5rem; margin: 0.25rem 0.5rem 0 0.25rem; border-radius: 0.2rem;}
.inp-cart ul li .input-box .select { float: right; width: auto; text-align: right; margin-right: 1.1rem;}
.inp-cart ul li .input-box .arrow-down { right: 0.35rem;}
.inp-cart .pay-btn { display: block; margin: 0.5rem 0 1rem 0;}
.add-address-footer{position:absolute;z-index: 1;top: auto;left: 0;right: 0;bottom: 0;height: 2.6rem;background-color: rgba(255,255,255,0.85);border-top: solid 0.05rem #EEE;}
p.cart-num {
margin-top: 1rem;
padding: 0 0.2rem;
}