<div class="main-layout">
  <div class="single-nav">
    <ul class="w50h">
      <li [class.selected]="coupons==avaliable">
        <a (click)="coupons=avaliable" [class.current]="coupons==avaliable">可用优惠券({{avaliable.length}})</a>
      </li>
      <li [class.selected]="coupons==unavaliable">
        <a (click)="coupons=unavaliable" [class.current]="coupons==unavaliable">不可用优惠券({{unavaliable.length}})</a>
      </li>
    </ul>
  </div>
  <div class="voucher-list" *ngIf="coupons">
    <ul class="tickets" *ngIf="showEmpty">
      <div class="norecord voucher">
        <div class="norecord-ico"><i></i></div>
        <dl>
          <dt>您还没有相关的代金券</dt>
          <dd>店铺代金券可享受商品折扣</dd>
        </dl>
      </div>
    </ul>
    <ul class="tickets">
      <li *ngFor="let coupon of coupons" [class.selected]="selected[coupon.ID]" (click)="onSelect(coupon)">
        <coupon-item [coupon]="coupon"></coupon-item>
      </li>
    </ul>
  </div>
</div>
