<div class="home-block">
<div class="zhuti">
  <div class="tit-bar">购特色</div>

  <ul class="item-pic-lr w50h">
    <li *ngFor="let item of first">
      <a (click)="gotoProduct(item)">
        <div class="wz">
          <h2>{{item.Name}}</h2>
          <h3>低至{{prices[item.ID]|price:item.Vpn}}元</h3>
        </div>
        <div class="pic">
          <img [src]="getImg(item)">
        </div>
      </a>
    </li>
  </ul>

  <ul class="item-pic-tb w25h">
    <li *ngFor="let item of items">
      <a (click)="gotoProduct(item)">
        <h2>{{item.Name}}</h2>
        <h3>低至{{prices[item.ID]|price:item.Vpn}}元</h3>
        <img [src]="getImg(item)">
      </a>
    </li>
  </ul>
</div>
</div>
