<header1>公益</header1>
<div class="main-layout mb20">
  <swiper [config]="swipeOptions" *ngIf="slides">
    <div class="swiper-wrapper">
      <img class="swiper-slide" *ngFor="let s of slides" [src]="s.Img" (click)="gotoSlide(s)">
    </div>
    <!-- Add Pagination -->
    <div *ngIf="swipeOptions.paging" class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <template [ngIf]="swipeOptions.arrows">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </template>
  </swiper>
  <div [infiniteScrollDistance]="2" [infiniteScrollThrottle]="600" [infiniteScrollDisabled]="infiniteScrollDisabled" (scrolled)="onScroll(true)"
    infinite-scroll class="search-results">
    <ul class="newslist" *ngIf="items">
      <li *ngFor="let item of items; trackBy:trackByItems">
        <a (click)="gotoDetail(item)">
          <p class="pic"><img [src]="item.Icon"> </p>
          <p class="info">{{item.Title}} <br><i>发布时间:<span>{{item.CreatedAt | ago}}</span></i></p>
        </a>
      </li>
    </ul>
  </div>
</div>

<footer-bar></footer-bar>