<header1>公益</header1>
<div class="main-layout mb20">
  <div class="adv_list myslides">
    <ks-swiper-container [options]="swipeOptions" style="height: 8rem;">
      <ks-swiper-slide *ngFor="let s of slides">
        <a (click)="gotoSlide(s)">
          <img class="slide-img" [src]="s.Img">
        </a>
      </ks-swiper-slide>
    </ks-swiper-container>
  </div>
  <div [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll(true)" (scrolledUp)="onScroll(false)" infinite-scroll>
    <ul class="newslist" *ngIf="items">
      <li *ngFor="let item of items; trackBy:trackByItems">
        <a (click)="gotoDetail(item)">
          <p class="pic"><img [src]="item.Icon"> </p>
          <p class="info">{{item.Title}}<span>{{item.CreatedAt | ago}}</span></p>
        </a>
      </li>
    </ul>
  </div>
</div>
