.tips_reward{padding:0.8rem 0 0; display: flex;}
.tips_reward p{background: #ff9900; border-radius: 100%; width: 3.4rem; height: 2.4rem; color: #fff; font-size: 0.4rem; text-align: center;margin: 0 auto; padding-top:1rem;}
.tips_reward p.dj{background: #ff0000}
.tips_reward p span{font-size: 0.8rem;}
.tips_btn_group{display: flex; margin-top:0.6rem;}
.tips_info{margin-top:0.8rem;}
.tips_info h3{text-align: center; font-size: 0.5rem; color: #666; position: relative;}
.tips_info h3:before{content: ""; height: 1px; background: #888; position: absolute; top:50%;left: 0; width: 40%}
.tips_info h3:after{content: ""; height: 1px; background: #888; position: absolute; top:50%;right: 0; width: 40%}
