/*车友汇详细信息*/
.cyh_des{padding-bottom:  2.5rem}
.cyh_des .pic{height:6rem;}
.cyh_des .pic img{height: 100%; width: 100%}
.myself{background: #FB6E52; color: #fff;}
.myself a{color:#fff;}
.cheyouhui-info{padding:0.5rem; font-size: 0.7rem; line-height: 1.6rem;}
