<div class="cheyouhui-tc" *ngIf="abcs">
  <div *ngFor="let abc of abcs">
    <div class="cheyouhui-tc-item" *ngFor="let item of abc.skus">
      <a (click)="gotoBuy(item)"> <img [src]="item.Img" width="100%"></a>
    </div>
  </div>
</div>
<div class="cheyouhui-xcq">
  <div class="tit"><img src="/assets/img/xcq.jpg" width="100%"> </div>
  <div class="grid" *ngIf="vbuys">
    <ul class="goods-secrch-list" *ngFor="let vbuy of vbuys">
      <li class="goods-item" *ngFor="let item of vbuy.skus">
        <span class="goods-pic">
					<a (click)="gotoBuy(item)">
            <img [src]="getImg(item)">
          </a>
				</span>
        <dl class="goods-info">
          <dt class="goods-name">
            <a (click)="gotoBuy(item)">
                <h4>{{item.product.Name}}</h4><h6>{{getAttrs(item)}}</h6>
              </a>
            </dt>
          <dd class="goods-sale">
            <a (click)="gotoBuy(item)">
              <span class="goods-price">￥<em>{{item|price:vbuy}}</em></span>
            </a>
          </dd>
          <dd class="goods-assist">
            <a class="btn" (click)="gotoBuy(item)">
                点击购买
            </a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="cheyouhui-bottom fixed-width" *ngIf="profile">
  <ul>
    <li><a (click)="alert(profile.IntroVipDetail,'会员活动说明')">会员活动说明</a></li>
    <li><a (click)="alert(profile.IntroVipPrivilege,'会员权限说明')">会员权限说明</a></li>
    <li><a (click)="alert(profile.IntroCarInsurance,'车险说明')">车险说明</a></li>
  </ul>
</div>

<footer-bar></footer-bar>