<div class="userlist" *ngIf="show">
  <ul>
    <li class="user-item myself">
      <a (click)="gotoMy()">
        <span class="user-pic">
            <img [default]="profile.DefaultHeadImage" [src]="userService.headSrc$|async" valign="middle">
				  </span>我
      </a>
    </li>
    <li class="user-item" *ngFor="let item of items">
      <a (click)="gotoDetail()">
        <span class="user-pic">
            <img [default]="profile.DefaultHeadImage" [src]="item.HeadImageURL" valign="middle">
				  </span>{{item.Nickname}}
      </a>
    </li>
  </ul>
</div>
<footer-bar></footer-bar>