<div class="home-top fixed-width">
  <header class="transparent">
    <div class="logo"></div>
    <div class="header-wrap">
      <a (click)="gotoSearch()" class="header-inp">
        <i class="icon"></i>
        <span class="search-input">请输入关键词</span>
      </a>
    </div>
  </header>
  <swiper [config]="swipeOptions">
    <div class="swiper-wrapper">
      <img class="swiper-slide" *ngFor="let s of items" [src]="s.Img" (click)="gotoSlide(s)">
    </div>
    <!-- Add Pagination -->
    <div *ngIf="swipeOptions.paging" class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <template [ngIf]="swipeOptions.arrows">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </template>
  </swiper>
</div>