.newslist{font-size: 0.6rem; padding:0.5rem; position: relative}
.newslist a{width:80%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #000; display: block; line-height: 1rem;}
.newslist a span{position: absolute; right: 0.5rem; font-size: 0.5rem;}
