.newslist{font-size: 0.6rem; padding:0.3rem; position: relative}
.newslist a{ color: #000; display: block;}
.newslist a span{display: block; color: #888; font-size: 0.3rem;}
.newslist li{display: flex; margin-top:0.3rem;}
.newslist .pic{width: 2.8rem;  height:2.2rem; margin-right: 0.3rem;}
.newslist .pic img{width: 100%; height: 100%}
.newslist .info{ }
