<header1>团购</header1>
<div class="main-layout">
  <div class="single-nav">
    <ul class="w50h" *ngIf="active">
      <li [class.selected]="current===active">
        <a (click)="current=active">今日团购({{active.length}})</a>
      </li>
      <li [class.selected]="current===inactive">
        <a (click)="current=inactive">往期团购({{inactive.length}})</a>
      </li>
    </ul>
  </div>
  <div class="list">
    <ul class="goods-secrch-list goods-seckill-assist">
      <li class="goods-item" *ngFor="let item of current">
        <group-buy-item [item]="item"></group-buy-item>
      </li>
    </ul>
  </div>
</div>

<footer-bar></footer-bar>