<header-bar class="posf">
  <ul class="header-nav">
    <li routerLinkActive="cur"><a [routerLink]="['./info']">商品</a></li>
    <li routerLinkActive="cur"><a [routerLink]="['./detail']">详情</a></li>
    <li routerLinkActive="cur"><a [routerLink]="['./eval']">评价</a></li>
  </ul>
</header-bar>

<router-outlet></router-outlet>

<div class="bottom-mask" [class.up]="showSkus">
  <product-skus *ngIf="product" [sku]="sku" [product]="product" (skuChange)="onSkuChange($event)" (dismiss)="onCloseSkus()"></product-skus>
</div>

<div class="goods-detail-foot" *ngIf="product">
  <div class="otreh-handle">
    <a (click)="onGotoKefu()" class="kefu"><i></i><p>客服</p></a>
    <a (click)="onGuanzhu()" class="guanzhu"><i></i>cart<p>关注</p></a>
    <a (click)="onGotoCart()" class="cart"><i></i><p>购物车</p><span *ngIf="cartLen"><sup>{{cartLen}}</sup></span></a>
  </div>
  <div class="buy-handle ">

    <a (click)="onOpenSkus(0)" class="animation-up add-cart">加入购物车</a>

    <a (click)="onOpenSkus(1)" class="animation-up buy-now">立即购买</a>
  </div>
</div>
