<div *ngIf="product">
  <div class="goods-detail-top">
    <div class="goods-detail-pic">
      <ul>
        <li><img [src]="img"></li>
      </ul>
    </div>
  </div>
  <div class="goods-detail-cnt">
    <div class="goods-detail-name">
      <dl>
        <dt>{{product.Name}}</dt>
        <dd>{{product.Intro}}</dd>
      </dl>
    </div>
    <div class="goods-detail-price">
      <dl>
        <dt>￥<em>{{salePrice|money}}</em></dt>
      </dl>
      <span class="sold">销量：{{product.Saled}}件</span>
    </div>
    <div class="goods-detail-item" (click)="onOpenSkus()">
      <div class="itme-name">套餐</div>
      <div class="item-con">
        <dl class="goods-detail-sel">
          <dt>
            <span *ngFor="let attr of sku?.attrs">{{attr.Group.Name}}<em>{{attr.Value}}</em></span>
          </dt>
        </dl>
      </div>
      <div class="item-more"></div>
    </div>
    <div class="goods-detail-item">
      <div class="itme-name">送至</div>
      <div class="item-con">
        <a (click)="gotoAddressSelector()">
          <dl class="goods-detail-freight">
            <dt>
              <address-short *ngIf="addr" [address]="addr"></address-short>
              <template [ngIf]="sku">
                <br>
                <strong>{{sku.Stock?'现货':'缺货'}}</strong>
              </template>
            </dt>
          </dl>
        </a>
      </div>
      <div class="item-more location"></div>
      <div class="clear"></div>
      <div class="itme-name">运费</div>
      <div class="item-con">
        <dl class="goods-detail-freight">
          <dt>店铺单笔订单不满199，收运费15元</dt>
        </dl>
      </div>
    </div>

    <div class="goods-detail-comment" *ngIf="evals">
      <div class="title">
        <a (click)="gotoEval()">
          评价({{evals.items.length}})<span class="rate">
          好评度<em>{{evals.praiseOf|percent}}</em></span>
          <div class="item-more"></div>
        </a>
      </div>
      <div class="comment-info">
        <ul>
          <li *ngFor="let item of evalItems">
            <product-info-eval-item [item]="item"></product-info-eval-item>
          </li>
        </ul>
      </div>
      <div class="goods-detail-store">
        <div class="store-rate">
          <span class="equal">描述相符<em>{{evals.fit|number:'1.0-1'}}</em><i>平</i></span>
          <span class="equal">服务态度<em>{{evals.serve|number:'1.0-1'}}</em><i>平</i></span>
          <span class="equal">发货速度<em>{{evals.deliver|number:'1.0-1'}}</em><i>平</i></span>
        </div>
      </div>
    </div>
    <div class="goods-detail-bottom">
      <a (click)="gotoProductDetail()">点击查看商品详情</a>
    </div>
  </div>
</div>
