.rebate-center .item{color: #ccc;}
.rebate-center .item.current{color: #333;}
.rebate-center dl{background-color: #FFF;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);}
.rebate-center dt{line-height: 0.9rem;
    display: block;
    height: 1rem;
    padding: 0.5rem 0.7rem 0.5rem 0;
    margin-left: 0.5rem;
    border-bottom: solid 0.05rem #EEE;}
.rebate-center h3{font-size: 0.8rem;
    line-height: 1rem;
    color: #111;
    vertical-align: top;
    display: inline-block;
    height: 1rem;}
.rebate-center dd{font-size: 0.7rem; padding: 0.5rem 0.7rem 0.5rem 0;margin-left: 0.5rem;}
        .tips{color: #999; padding: 0.5rem;}
        .rebate-item a{color: #333; display: block; margin: 0.2rem 1rem 0; border: 1px solid #999; border-radius: 0.5rem; padding: 0.3rem 0; text-align: center; }
.rebate-item a.active{background: #FB6E52; border-color: #ED5564; color: #fff;}
        .qualify{border-bottom:1px solid #ccc; padding: 0.5rem 0.5rem; position: relative}
.qualify p{line-height: 20px;}
.qualify.selected:after{content: ""; position: absolute; right: 0; top:0.6rem; background:url("/assets/img/ok.png") no-repeat; background-size: 100%; width: 30px; height: 30px;}
