<home-top-bar></home-top-bar>
<home-nav-bar></home-nav-bar>
<home-ad-slide *ngIf="items.length>0" [item]=items[0]></home-ad-slide>
<home-group-buy></home-group-buy>
<home-ad-slide *ngIf="items.length>1" [item]=items[1]></home-ad-slide>
<home-special-offer></home-special-offer>
<home-ad-slide *ngIf="items.length>2" [item]=items[2]></home-ad-slide>
<home-featured></home-featured>
<home-ad-slide *ngIf="items.length>3" [item]=items[3]></home-ad-slide>
<home-life></home-life>
<home-ad-slide *ngIf="items.length>4" [item]=items[4]></home-ad-slide>
<home-recommend></home-recommend>

<footer-bar></footer-bar>